.BubbleCard
{
  display: flex;
  flex-direction: column;
  background-color: darken($tertiary_color, 10%);
  align-items: center;
  justify-items: center;
  width: 100%;
  border-radius: 10px;
  transition: 0.5s ease all;

  &:hover
  {
    cursor: pointer;
    background-color: darken($tertiary_color, 25%);
    border-radius: 22px;
    transform: scaleX(110%) scaleY(110%);
  }

  &_icon
  {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 10px;
    background-color: white;
    padding: 0.75em;
    margin: 0.95em;
    object-fit: contain;
    border-right: 2px solid lighten(black, 10%);
    border-bottom: 2px solid lighten(black, 10%);
  }

  &_name
  {
    font-size: large;
    letter-spacing: 0.15em;
    margin: 0.25em;
    text-align: center;
    padding-bottom: 0.15em;
  }
}