.Title
{
  display: block;
  font-size: inherit;
  letter-spacing: 0.20em;
  color: black;
  width: auto;
  height: auto;
  justify-items: center;
  align-items: center;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 0.75em;

  &.-big
  {
    font-size: 2.5rem;
  }

  &.-medium
  {
    font-size: 1.75rem;
  }

  &.-bold
  {
    font-weight: bold;
  }

  &.-left
  {
    justify-items: left;
    text-align: left;
  }
}